{% extends 'base.html.twig' %}

{% block title %}Create a Workflow!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Create a Workflow</h1>
    {% for name, state in workflows %}
        <form action="{{ path('create_workflow') }}" method="post">
            <input type="hidden" name="workflow_name" value="{{ name }}">
            <input type="hidden" name="starting_state" value="{{ state }}">
            <input type="submit" class="btn btn-outline-primary btn-lg btn-block"
                   value="Create {{ name | replace({'_': ' '}) | title }}">
        </form>
    {% endfor %}
</div>
{% endblock %}
